cd /home/utente/progetto
git submodule add https://github.com/username/nuovo-repository.git submodules/nuovo-repository
git submodule init
git submodule update
git add .gitmodules submodules/nuovo-repository
git commit -m "Aggiunto submodule nuovo-repository"
git submodule init
git submodule update
git add .
git commit -m "Aggiunto submodule"
git push origin main

